body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#66ccff;
}

canvas {
  border: 1px solid black;
  background-color:#0a0a2a;
}

